<h2><%= @recipe.name %></h2>
<hr>
<h3>Ingredients:</h3><h4><%= @recipe.ingredients %></h4>
<h3>Instructions:</h3><h4><%= @recipe.instructions %></h4>



<h2> Update Recipe </h2>
<form action ="/recipe/<%= @recipe.id%>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="name">New Name:</label>
  <input type="text" name="name">
  <label for="ingredients">New Ingredients:</label>
  <input type="text" name="ingredients">
  <label for="instructions">New Instructions:</label>
  <input type="text" name="instructions">
  <button type ="submit">Update</button>
</form>


<form action="/recipe/<%= @recipe.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit">Delete Recipe</button>
</form>

<a href='/'> back to home page </a>



  <% if @categories.any? %>
  <form action="/recipe/<%= @recipe.id %>" method="post">
    <% @categories.each do |category| %>
    <label>
    <input type="checkbox" name="categories_id" value="<%= category.id %>">
      <%= category.title %>
  </label>
    <% end %>
    <button type="submit">Add category</button>
  </form>
  <%else %>
  <p> You don't have any categories!! </p>
  <% end %>
